# OS files
.DS_Store

# Vendor files
/node_modules
/vendor

# Playground files
.env
/playground/public/media/*
/playground/storage/accounts/*
!/playground/storage/accounts/playgrnd
/playground/storage/cache/*
/playground/storage/sessions/*

# Cache and temporary files
/.cache
/.php-cs-fixer.cache
/.phpunit.result.cache
/index.dev.mjs
/index.js
/index.css
/tests/coverage
/tests/*/tmp
